*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

header{
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
     gap: 40rem;
     padding-bottom: 5rem;
}

header h1{
    /* font-weight: 100; */
    font-size:medium;
}

.website-navigation{
    display: flex;
    list-style: none;
    gap: 2rem;
}                                                                                                               

.hero-section{
  background-color: #1f2937;  
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 5rem;
}

.hero-text h2{
    font-size: 48px;
    font-weight: 900;
}

.hero-text{
    width: 30rem;
    /* background-color: red; */
}

.hero-text p{
    margin-top: 1rem;
}

.hero-btn{
    margin-top: 2rem;
    background-color: #3882F6;
    color: white;
    border: 0;
    padding: 4px 12px;
    border-radius: 5px;
}

.news-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}


.team-news{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.team-news-section h2{
    padding: 2rem;
}

.news-box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 150px;
}

.team-news-section{
    text-align: center;
    padding-bottom: 5rem;
}

.news-text-wrapper{
    margin-top: 0.5rem;
}


.news-one-image{
    background-image: url("./Images/lingard.jpg.webp");
    background-size: cover;
    background-position: center;
}

.news-two-image{
    background-image: url("./Images/idrisGueye-kean.webp");
    background-size: cover;
    background-position: left center;
}

.news-three-image{
    background-image: url('./Images/Amorim-shouting.jpg.webp');
    background-size: cover;
    background-position: right center;
}

.news-four-image{
    background-image: url("./Images/liverpoolImage.webp");
    background-size: cover;
    background-position: center;
}


.website-quote{
    width: 40%;
    margin: 0 auto;
}


.quote-section{
    background-color: #E5E7EB;
    text-align: center;
    padding: 4rem;
}


figcaption{
    font-weight: bold;
    text-align: right;
}

figcaption::before{
    content: "-";
}

.quote-text{
    text-align: left;
}

.footer-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    width: 60%;
    background-color: #3882F6;
    color: white;
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    margin-top: 4rem ; 
    margin-bottom: 4rem;
    border-radius: 5px;
}

.quote-btn{
    background-color: transparent;
    padding: 4px 18px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}


.signup-text{
    font-weight: 100;
}


.copyright-wrapper{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 2rem;
}